.control-panel-container {
    width: 100%;
    padding: 20px 80px;
    box-sizing: border-box; 
}

.control-panel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
    max-width: 1400px;
    margin: 0 auto; 
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-navbar {
    width: 100%;
}
.add-department-container {
    max-width: 1400px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.add-department-container .title h4 {
    margin: 0;
    font-size: 30px; 
    font-weight: 600;
}
.add-department-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgb(34, 34, 220); 
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.add-operator-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgb(34, 34, 220); 
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;

}

.add-department-button:hover {
    background-color: rgb(6, 6, 187);
}