.back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  color: rgb(34, 34, 220);
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;

}

